/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial;
}

@media (max-width: 40em) {
  .ui-table .ui-table-tbody > tr > td {
    border: 0 none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-acoes-1 {
  width: 60px;
  text-align: center !important;
}

label {
  font-weight: bold;
}
