<div class="container">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)" [formGroup]="fg">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Alterar Jogador' : 'Novo Jogador'}}</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" formControlName="nome" [(ngModel)]="jogador.nome"   required minlength="5">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input pInputText type="text" name="email" formControlName="email" [(ngModel)]="jogador.email" minlength="5">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" (click)="novo(f)"></button>

        <a routerLink="/jogadores">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
