<div class="ui-g">
  <div class="ui-g-12" style="text-align: center">
    <div
      class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all ui-datepicker-inline ng-trigger ng-trigger-overlayState"
      style="display: inline-block; opacity: 1; margin: 0 auto">

      <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c19-107">

        <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="subtrai()">
          <span class="fa fa-angle-left"></span>
        </a>
        <a class="ui-datepicker-next ui-corner-all" href="#" (click)="adiciona()">
          <span class="fa fa-angle-right"></span>
        </a>
        <div class="ui-datepicker-title">
          <span class="ui-datepicker-month ng-tns-c19-107">{{mesPorExtenso()}}</span>
          <span class="ui-datepicker-year ng-tns-c19-107">{{data.getFullYear()}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
