<div class="ui-g">
  <div class="ui-g-12">
    <h1>Pagamentos</h1>
  </div>

</div>

<app-seletor-mes (acao)="pesquisaPagamentos($event)"></app-seletor-mes>

<div class="ui-g" style="justify-content: center">
  <div class="ui-g-12 ui-md-6">
    <p-dataTable [value]="pagamentos" selectionMode="single" (onRowSelect)="aoSelecionarPagamento($event)" >
      <p-column sortable="true" field="jogador.nome" header="Nome do Jogador"></p-column>
      <p-column field="valor" header="Total Pago"></p-column>
    </p-dataTable>
  </div>
</div>

<p-dialog header="Pagamentos do Jogador no Mês" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
      <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="year">Year</label></div>
      <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
      <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="color">Color</label></div>
      <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
